* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  background-color: navy;
}

.output{
  display: flex;
  justify-content: center;
  margin: 80px;
}
